{% extends "dashboard/dashboard_base.html" %}

{% block content %}
<h1>Réserver pour : {{ programme }}</h1>
<p class="lead">Stade : {{ programme.stadium }} | Date : {{ programme.date|date:"d F Y, H:i" }}</p>
<hr>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_nombre_billets" class="form-label">Combien de places souhaitez-vous réserver ?</label>
                <input type="number" name="nombre_billets" class="form-control" value="1" min="1" max="10" required id="id_nombre_billets">
            </div>
            <button type="submit" class="btn btn-success">
                <i class="bi bi-arrow-right-circle me-2"></i> Procéder au paiement
            </button>
            <a href="{% url 'dashboard_programme_list' %}" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
</div>
{% endblock %}