{% extends "ticket_app/base.html" %}

{% block title %}Gestion des Réservations{% endblock %}

{% block content %}
<h1 class="mb-4 text-center">Gestion des Réservations</h1>
{% if reservations %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID Réservation</th>
                <th>Spectateur</th>
                <th>Programme</th>
                <th>Date</th>
                <th>Nombre de Billets</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id_reservation }}</td>
                <td>{{ reservation.spectateur.username }}</td>
                <td>{{ reservation.programme.nom_equipe1 }} vs {{ reservation.programme.nom_equipe2 }}</td>
                <td>{{ reservation.date_reservation }}</td>
                <td>{{ reservation.nombre_billet }}</td>
                <td>{{ reservation.type_reservation }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p class="text-center">Aucune réservation n'a été effectuée.</p>
{% endif %}
{% endblock %}
